/* tag */

body {
    background-color: rgb(197, 224, 180);
    width: 100%;
    margin: 0 auto;
}
header {
    background-color: rgb(34, 42, 53);
    width: 100%;
    height: 60px;
    position: fixed;
}
footer {
    background-color: rgb(34, 42, 53);
    width: 100%;
    height: 60px;
}
ul.nav {
    margin: 0 auto;
    margin-right: 100px;
    float: right;
    line-height: 60px;
}
li {
    display: inline;
}
a {
    width: 0;
    height: 0;
}
a.nav {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, 微軟正黑體, sans-serif;
    margin-left: 10px;
    border: rgb(193, 15, 15) solid;
    border-width: 0px 0px 0px;
}
a.nav:hover {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: rgb(193, 15, 15);
    border-color: white;
    border-width: 0px 0px 2px;
}
iframe.live {
    border: none;
    overflow: hidden;
    line-height: 500px;
    width: 940.8px;
    height: 529.2px;
}

/* div */

.bigHidden {
    display: none;
}
.content {
    margin-left: 3vw;
    margin-right: 3vw;
}
.liveZone {
    width: 100%;
    height: 650px;
    background-color: black;
    padding-top: 70px;
}
.modifyPos {
    width: 33%;
    padding-left: 3%;
}
.div-livetitle {
    margin-left: 84.1px;
    margin-right: 84.1px;
    height: 70px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.div-livevideo {
    text-align: center;
}
.div-videoZoneTitle {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 30px;
    background-color: rgb(64, 64, 64);
    box-sizing: border-box;
}
.videoZone {
    padding-left: 6%;
    padding-right: 6%;
    background-color: rgb(64, 64, 64);
    box-sizing: border-box;
}
.bigBlock {
    padding-top: 30px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.smallBlock {
    float: left;
    width: 33%;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}
.smallBlock2 {
    float: left;
    width: 33%;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}
.div-videoTitle {
    margin-bottom: 10px;
    width: 273px;
}
.video {
    margin: 0;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.div-previousNext {
    background-color: rgb(64, 64, 64);
    height: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
}
.div-link {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    box-sizing: border-box;
}
.clear {
    clear: both;
}

/* p */


/* span */

.livetitle {
    float: left;
    margin: 0;
    color: white;
    font-family: Arial, 微軟正黑體, sans-serif;
    font-size: 30px;
    line-height: 59px;
}
.span-videoZoneTitle {
    font-size: 30px;
    font-family: Arial, 微軟正黑體, sans-serif;
    color: white;
    font-weight: bold;
}
.span-videoTitle {
    font-size: 1.1vw;
    font-family: Arial, 微軟正黑體, sans-serif;
    color: white;
}
.copyright {
    float: left;
    font-size: 20px;
    font-family: Arial, 微軟正黑體, sans-serif;
    color: white;
    line-height: 60px;
    padding-left: 100px;
    box-sizing: border-box;
}

/* img */

.img-menu {
    float: left;
    display: none;
}
.img-logo {
    float: left;
    width: 209.25px;
    height: 50px;
    line-height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
}
.img-video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.img-video:hover {
    opacity: 0.5;
}
.img-next, .img-previous {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.img-link {
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

/* RWD中型螢幕 */

@media screen and (max-width: 768px) {
    .img-logo {
        margin-left: 50px;
    }
    ul.nav {
        margin-right: 50px;
    }
    .content {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .div-livetitle {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    iframe.live {
        width: 80vw;
        height: 60vw;
    }
    .liveZone {
        height: 70vw;
    }
    .smallBlock, .smallBlock2 {
        float: left;
        display: block;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 20px;
        width: 50%;
    }
    .smallBlock3 {
        float: left;
        display: block;
        padding-left: 1%;
        padding-right: 1%;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-right: 0;
        width: 50%;
    }
    .midHidden {
        display: none;
    }
    .copyright{
      width: 100%;
      padding-left: 0;
    }
    footer{
      text-align: center;
    }
    .span-videoZoneTitle{
      font-size: 20px;
    }
}

/* RWD小型螢幕 */

@media screen and (max-width: 460px) {
    ul.nav {
        display: none;
    }
    .div-livetitle {
        margin: 0;
        height: 15vw;
        text-align: center;
        display: block;
    }
    .livetitle {
        font-size: 16px;
        line-height: 15vw;
        float: none;
    }
    .content {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .liveZone {
        height: 75vw;
    }
    iframe.live {
        width: 80vw;
        height: 60vw;
    }
    .div-videoZoneTitle {
        padding-left: 13%;
        padding-top: 20px;
        text-align: center;
        height: 10vw;
        font-size: 15px;
        box-sizing: border-box;
    }
    .span-videoZoneTitle {
        line-height: 10vw;
        font-size: 15px;
    }
    .bigHidden {
        display: block;
    }
    .img-logo {
        margin-left: 0px;
        float: right;
        margin-right: 20vw;
        width: 58vw;
        height: 14.5vw;
    }
    .img-menu {
        display: flex;
        margin-top: 15px;
        margin-left: 20px;
        width: 30px;
        line-height: 60px;
    }
    .div-videoTitle {
        width: 60vw;
    }
    .bigBlock {
        padding-bottom: 0;
    }
    .smallBlock, .smallBlock2 {
        float: none;
        display: block;
        margin: 0;
        padding-bottom: 30px;
        padding-left: 9vw;
        width: 100%;
        box-sizing: border-box;
    }
    .img-video, .video {
        width: 60vw;
        height: 33.8vw;
    }
    .smallHidden {
        display: none;
    }
    .div-copright {
        text-align: center;
    }
    .copyright {
        float: none;
        padding: 0;
        font-size: 15px;
    }
}
